body{
    background: #e2dddd;
}

.caixa-form {         
    padding: 15px 40px;         
    background: #ffffff;         
    box-shadow: 0px 10vh 20vh rgba(0,0,0,0.1); 
    width: 50%;
    margin: auto;
}

.caixa-form p{
    font-family: Arial, Helvetica, sans-serif, arial;
    font-size: 15px;
}

.caixote-menor{
    border-radius: 1vh;
}

.entrada-escrito{
  width: 97%;    
  height: 8px;     
  padding: 8px;     
  font-size: 12px;  
  border-radius: 6px;
}

textarea{
    width: 95%;              
    height: 100px;            
    padding: 10px;            
    border-radius: 8px;
    font-size: 14px;
    background: #f9f9f9;
}

.titulo-leg{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, arial;
    font-weight: bold;
}

.titulo{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif, arial;
}

.botao{
    background: rgb(206, 204, 204);
    color: black;
    border-radius: 1vh;
    height: 5vh;
    width: 10%;
}

.botao-verde{
    background: rgb(38, 169, 38);
    color: white;
    border-radius: 1vh;
    height: 5vh;
    width: 10%;
    
}

.botao:hover{
    background: rgb(158, 157, 157);
}

.botao-verde:hover{
    background: rgb(23, 107, 23);
}

select{
  width: 100%;         
  padding: 5px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .caixa-form {
    margin: 10px;
    padding: 15px;
  }
  input, select, textarea, button {
    font-size: 13px;
    padding: 8px;
  }
}